In [13]:
import pandas as pd

Bee_Colony_Loss_2010_2017_df = pd.read_csv("Bee_Colony_Loss_2010_2017.csv")

In [14]:
Bee_Colony_Loss_2010_2017_df.sample(5)

,Year,Season,State,Total Annual Loss,Beekeepers,Beekeepers Exclusive to State,Colonies,Colonies Exclusive to State
219,2012,Annual,Idaho,36.20%,30,50.00%,91535,1.80%
76,2015,Annual,Georgia,41.40%,65,92.30%,3034,30.60%
215,2012,Annual,Montana,30.30%,25,60.00%,35214,0.20%
296,2011,Annual,Florida,41.80%,72,88.90%,49141,13.40%
257,2012,Annual,District of Columbia,73.50%,10,70.00%,509,8.70%

In [15]:
# Determine if there are any missing values in the data.
Bee_Colony_Loss_2010_2017_df.count()

Year                              365
Season                            365
 State                            365
 Total Annual Loss                349
 Beekeepers                       365
 Beekeepers Exclusive to State    365
 Colonies                         365
 Colonies Exclusive to State      365
dtype: int64

In [16]:
# Determine if there are any missing values in the data.
Bee_Colony_Loss_2010_2017_df.isnull()

,Year,Season,State,Total Annual Loss,Beekeepers,Beekeepers Exclusive to State,Colonies,Colonies Exclusive to State
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
360,False,False,False,True,False,False,False,False
361,False,False,False,True,False,False,False,False
362,False,False,False,True,False,False,False,False
363,False,False,False,True,False,False,False,False
364,False,False,False,True,False,False,False,False

In [17]:
# Determine data types for the DataFrame.
Bee_Colony_Loss_2010_2017_df.dtypes

Year                               int64
Season                            object
 State                            object
 Total Annual Loss                object
 Beekeepers                        int64
 Beekeepers Exclusive to State    object
 Colonies                          int64
 Colonies Exclusive to State      object
dtype: object

In [18]:
Bee_Colony_Loss_2010_2017_df.head(10)

,Year,Season,State,Total Annual Loss,Beekeepers,Beekeepers Exclusive to State,Colonies,Colonies Exclusive to State
0,2016,Annual,Massachusetts,15.90%,87,94.30%,27186,2.30%
1,2016,Annual,Montana,17.10%,21,52.40%,35905,0.30%
2,2016,Annual,Nevada,23.00%,13,92.30%,2512,5.20%
3,2016,Annual,Maine,23.30%,65,93.80%,41102,1.40%
4,2016,Annual,Wyoming,23.40%,18,77.80%,6521,1.40%
5,2016,Annual,Hawaii,26.20%,10,100.00%,84,100.00%
6,2016,Annual,Mississippi,26.30%,9,22.20%,17802,0.20%
7,2016,Annual,West Virginia,26.60%,52,94.20%,993,79.80%
8,2016,Annual,Idaho,27.30%,30,83.30%,76794,1.90%
9,2016,Annual,Florida,29.20%,62,82.30%,95872,4.20%